

.question-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 25px;
    padding: 10px 0;
}

.question{
    display: grid;
    grid-template-columns: minmax(40px, 50px) 1fr;
    grid-template-rows: fit-content 1fr;
    gap: 10px 2px;
}

/* .question > *{
    border: 1px dotted green;
} */

.question__answer-section{
    grid-column: 2 / 4;
}

.question__user-info{
    display: flex;
    flex-direction: column;

}
.question__user-logo{
    width: 40px;
}

.question__header-text{
    font-family: "Signika Negative", sans-serif;
    font-size: 20px;
    /* padding: 10px 0; */
}

.question__user-name-text{
    font-family: 'roboto slab', sans-serif;
    font-size: 14px;
}


.question__answer-section{
    display: grid;
    grid-template-columns: 40px 1fr;
    /* gap: 10px; */
}

.question__answer-counsellor-img{
    width: 30px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.question__answer-counsellor-name{
    padding: 5px 0;
    display: flex;
    /* align-items: center; */
}
.question__answer-counsellor-name-text{
    font-family: 'roboto-slab', sans-serif;
    font-size: 14px;
    margin-right: 5px;
}

.question__answer-reply-logo, 
.question__answer-reply-text,
.question__answer-reply-time{
    font-size: 13px;
}
.question__answer-reply-text,
.question__answer-reply-time{
    color: #5e5454;
    margin-right: 2px;
}

.question__counsellor-answer{
    grid-column: 2/4;
}


/* Nav */
/* nav */
.question__nav{
    width: 100%;
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.question__nav-link{
    width: 100px;
    padding: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7ABA78;
    /* color: white; */
    font-family: 'nunito';
    border-radius: 5px;
    cursor: pointer;
    color: black;
}

.question__nav-link:hover{
    filter:contrast(1.3);
}

.question__nav-link:active{
    filter:contrast(.8);
}

